/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-blur {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
